In [1]:
from pandas import read_excel

from sberpm.ml.stages_clustering._wrapper_stages_clustering import WrapperStagesClustering

In [2]:
df = read_excel('example.xlsx')
df.head()

,id,stages,dt,users,some_text
0,0.0,Stage_0,2019-01-12,Oliver,Вход
1,0.0,Stage_3,2019-02-12,Liam,Выбор операции
2,0.0,Stage_5,2019-05-12,Emma,Печать договора
3,0.0,Stage_2,2019-11-12,Patricia,Загрузка сотрудником скана документа в систему
4,0.0,Stage_7,2019-12-17,Callum,Отмена операции

#### StagesClustering with default parameters and example data

In [3]:
st_clust = WrapperStagesClustering(
    data=df,
    model_params={
        "notation_params": dict(
            id_col="id",
            status_col="stages",
            date_col="dt",
            date_end_col=None,
            user_id_col=None,
            other="some_text",
        ),
        "model_params": dict(
            stages_col="some_text",
            generalizing_ability=0.5,
            type_model_w2v="navec",
        ),
    },
)

DataHolder: 'time_format' is not set, recommended to specify it for correct time conversion, e.g., time_format='%d-%m-%Y %H:%M:%S'
DataHolder: timestamp auto conversion will be done. 'dayfirst' is not set, in ambiguous cases it will be considered as False.
DataHolder: timestamp auto conversion will be done. 'yearfirst' is not set, in ambiguous cases it will be considered as False.

In [4]:
%%time

stage_clustering_output = st_clust.run_model()

CPU times: user 803 ms, sys: 913 ms, total: 1.72 s
Wall time: 667 ms

In [5]:
stage_clustering_output

,some_text,Номер кластера (-1 - выбросы)
0,Вход,-1
1,Выбор операции,-1
2,Печать договора,-1
3,Загрузка сотрудником скана документа в систему,-1
4,Отмена операции,-1
5,Выход,0
6,Вход в систему,-1
7,Печать документов,-1
8,Подтверждение сотрудником загрузки скана докум...,1
9,Выход,0
10,Печать договора клиента,-1
11,Подтверждение сотрудником загрузки скана,1